<div class ="footWrap">
   <div class="footer">
      <h3>Feel free to contact us </h3>
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
         </ul>
   </div>
</div>